NEXT_PUBLIC_SOLANA_RPC=https://api.devnet.solana.com
NEXT_PUBLIC_IDENTITY_PROGRAM_ID=AUdYNM3A42jfaUkaSXeLJEXypgWFxKB1gP1hHLePkasv
NEXT_PUBLIC_ASSET_REGISTRY_PROGRAM_ID=9uPeQcNCpmchsx4Yw5FwDe9Yh38CuVBKnm6iSTRgv6Gm
NEXT_PUBLIC_ORACLE_VERIFY_PROGRAM_ID=74uCd6zi4NxAqsgDjyhZP9BZ94KefG8qEy2nFP9kiZPa
NEXT_PUBLIC_MARKETPLACE_PROGRAM_ID=J1BxLiUjYbfiS9yFHSvud6dPb9A13MTJeYAg4K1ZMEGC
NEXT_PUBLIC_INSURANCE_PROGRAM_ID=HM9wSnMqVC3fkDH4cGeL7HtZ6ZrXCG73Sm7Afxv9dacH
