NEXT_PUBLIC_SOLANA_RPC=https://api.devnet.solana.com

# Fill these after: anchor build && anchor deploy --provider.cluster devnet
NEXT_PUBLIC_IDENTITY_PROGRAM_ID=
NEXT_PUBLIC_ASSET_REGISTRY_PROGRAM_ID=
NEXT_PUBLIC_ORACLE_VERIFY_PROGRAM_ID=
NEXT_PUBLIC_MARKETPLACE_PROGRAM_ID=
NEXT_PUBLIC_INSURANCE_PROGRAM_ID=

# Platform admin = FWm4MDuTMWKJwdawF3VtUqWuZNi4Jq7TdJYWPnU5Yt8d
